@import url("./reset.css");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
}

:root {
  --pc-width: 1400px;
}

.hide-txt {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
header .logo {
  width: 66px;
  height: 53px;
  background: url("../image/logo.png") 50% 50%/100% no-repeat;
}

.contents {
  position: relative;
  width: 100%;
  display: grid;
  justify-items: center;
}
.contents .tit {
  margin: 15px 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.contents .breadcrumbs {
  font-size: 20px;
  font-weight: 500;
  color: #999;
}
.contents .tit-sub {
  font-size: 25px;
  font-weight: 500;
  margin-top: 40px;
}

.tab {
  position: relative;
  display: flex;
  justify-content: center;
}
.tab li {
  margin: 0 20px;
  font-size: 20px;
  color: #bababa;
  cursor: pointer;
}
.tab li.is-active {
  color: #000;
  font-weight: bold;
  border-bottom: 4px solid #AE7762;
}

.visual-img img {
  display: block;
  width: 100%;
  max-height: 820px;
  object-fit: cover;
}

.product-list {
  position: relative;
}
.product-list li {
  display: flex;
}

.vl-calendar {
  margin-top: 20px;
  max-width: 1400px;
}

.mbsc-windows.mbsc-eventcalendar {
  width: 100%;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-week-day.mbsc-ltr {
  text-align: center !important;
}

.mbsc-windows.mbsc-calendar-month-name.mbsc-ltr {
  display: none;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-day {
  border-color: transparent !important;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-day-labels .mbsc-calendar-day-inner {
  height: 130px !important;
}

.mbsc-calendar-text {
  text-align: center !important;
  font-size: 18px !important;
  border-radius: 20px;
}

.mbsc-calendar-label-background, .mbsc-calendar-text:before {
  border-radius: 500px;
}

.mbsc-windows.mbsc-range-day .mbsc-calendar-cell-inner, .mbsc-windows.mbsc-selected .mbsc-calendar-cell-inner {
  background: transparent !important;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-label-text {
  color: white;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-day-text {
  text-align: left !important;
  width: 100%;
}

.mbsc-event .mbsc-ltr {
  display: none !important;
}

.mbsc-custum-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mbsc-circle {
  border-radius: 10px;
  min-width: 10px;
  width: 10px;
  height: 10px;
}

.mbsc-tag {
  display: flex;
  align-items: center;
}
.mbsc-tag .mbsc-tit {
  padding-left: 4px;
}

.mbsc-calendar-controls {
  justify-content: center;
}